{%- include "header.html" -%}
			<div class="row">
				<div class="span12">
					<table class="table table-condensed">
						<caption><h2>Servers list</h2></caption>
						<colgroup>
							<col style="width: 30px;">
							<col style="">
							<col style="">
							<col style="">
							<col style="">
							<col style="">
							<col style="">
							<col style="width: 100px;">
							<col style="width: 160px;">
							<col style="width: 180px;">
						</colgroup>
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th nowrap>Last Update</th>
								<th nowrap>Uptime</th>
								<th>CPU</th>
								<th>Mem</th>
								<th>Status</th>
								<th colspan="3">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Dev-Server</td>
								<td>2012-04-29 16:21:33</td>
								<td>9 days, 11:21</td>
								<td>10%</td>
								<td>97M</td>
								<td style="color: #11AA11">Running</td>
								<td>
									<a class="btn btn-small btn-primary" href="#"><i class="icon-cog icon-white"></i> Compile</a>
								</td>
								<td>
									<div class="btn-group">
										<a id="fat-btn-srv1-stop" class="btn btn-small btn-danger" href="#"><i class="icon-off icon-white"></i> <span>Stop</span></a>
										<a id="fat-btn-srv1-restart" class="btn btn-small btn-warning" href="#"><i class="icon-retweet icon-white"></i> <span>Restart</span></a>
									</div>
								</td>
								<td>
									<a class="btn btn-small btn-inverse" href="#"><i class="icon-wrench icon-white"></i> Manage</a>
									<a class="btn btn-small btn-info" href="#"><i class="icon-eye-open icon-white"></i> Details</a>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Capsule</td>
								<td>2012-04-28 02:23:45</td>
								<td>6 days, 01:45</td>
								<td>5%</td>
								<td>37M</td>
								<td style="color: #11AA11">Running</td>
								<td>
									<a class="btn btn-small btn-primary" href="#"><i class="icon-cog icon-white"></i> Compile</a>
								</td>
								<td>
									<div class="btn-group">
										<a id="fat-btn-srv1-stop" class="btn btn-small btn-danger" href="#"><i class="icon-off icon-white"></i> <span>Stop</span></a>
										<a id="fat-btn-srv1-restart" class="btn btn-small btn-warning" href="#"><i class="icon-retweet icon-white"></i> <span>Restart</span></a>
									</div>
								</td>
								<td>
									<a class="btn btn-small btn-inverse" href="#"><i class="icon-wrench icon-white"></i> Manage</a>
									<a class="btn btn-small btn-info" href="#"><i class="icon-eye-open icon-white"></i> Details</a>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Capsule-dev</td>
								<td>2012-05-07 12:12:49</td>
								<td><span class="muted">None</span></td>
								<td><span class="muted">None</span></td>
								<td><span class="muted">None</span></td>
								<td style="color: #AA1111">Stopped</td>
								<td>
									<a class="btn btn-small btn-primary" href="#"><i class="icon-cog icon-white"></i> Compile</a>
								</td>
								<td>
									<div class="btn-group">
										<a class="btn btn-small btn-success" href="#"><i class="icon-play-circle icon-white"></i> Start</a>
									</div>
								</td>
								<td>
									<a class="btn btn-small btn-inverse" href="#"><i class="icon-wrench icon-white"></i> Manage</a>
									<a class="btn btn-small btn-info" href="#"><i class="icon-eye-open icon-white"></i> Details</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
{%- include "footer.html" -%}
