{%- block footer -%}
			<hr>
			<footer>
				<p>Dev-Server &copy; <strong><a href="mailto:delin@eridan.la">Delin</a></strong> 2012</p>
			</footer>

		</div> <!-- /container -->

		<div id="modal-web_off" class="modal hide fade">
			<div class="modal-header">
				<h3>Unable to connect to the server.</h3>
			</div>
			<div class="modal-body">
				<h4>:-(</h4>
				<p>Apparently, what happened, or with your Internet connection or the server is now in service.</p>
				<p>Please check your internet connection, if he's all okay, wait until the server responds again&hellip;</p>
			</div>
		</div>

<!--
		<div id="modal-detail" class="modal fade-in">
			<div class="modal-header">
				<h3>Node <span id="detail-node">view</span></h3>
			</div>
			<div class="modal-body">
				<h4>Stats:</h4>
				<dl class="dl-horizontal">
					<dt>Kernel:</dt>
					<dd><span id="detail-kernel">load&hellip;</span></dd>

					<dt>CPU Brand:</dt>
					<dd><span id="detail-cpu_brand">load&hellip;</span></dd>
				</dl>
			</div>
		</div>
-->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/application.js"></script>
	</body>
</html>
{%- endblock -%}
