{%- block header -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Dev-Server</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.progress {
				margin-bottom: 5px;
			}
			.progress .bar {
				color: #fff;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
			}
		</style>
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/static/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
	</head>

	<body>
		{% include "menu.html" %}
		<div class="container">
			<div class="row">
				<div class="span4">
					<h3>Dev-Server:</h3>
					<dl class="dl-horizontal">
						<dt>Status:</dt>
						<dd>Running</dd>

						<dt>Uptime:</dt>
						<dd>10 days, 22:43</dd>

						<dt>Running Servers:</dt>
						<dd>2</dd>

						<dt>Stopped Servers:</dt>
						<dd>1</dd>

						<dt>In Queue:</dt>
						<dd>0</dd>
					</dl>
				</div>
					<h3>System:</h3>
					<span class="span4">
						<dl class="dl-horizontal">
							<dt>Hostname:</dt>
							<dd>{{ sys_stats.hostname }}</dd>

							<dt>Kernel:</dt>
							<dd>{{ sys_stats.kernel_name }}</dd>

							<dt>CPU Brand:</dt>
							<dd>{{ sys_stats.cpu_brand }}</dd>

							<dt>Uptime:</dt>
							<dd><span id="sys_stat-uptime">load&hellip;</span></dd>

							<dt>Tasks:</dt>
							<dd><span id="sys_stat-procs_total">load&hellip;</span></dd>
						</dl>
					</span>
					<span class="span4">
						<dl class="dl-horizontal">
							<dt>Server Date:</dt>
							<dd><span id="sys_stat-date">load&hellip;</span></dd>

							<dt>Load Avarage:</dt>
							<dd><span id="sys_stat-load_avarage">load&hellip;</span></dd>

							<dt>CPU:</dt>
							<dd>
								<div id="sys_stat-cpu_percent-div" class="progress progress-striped active">
									<div id="sys_stat-cpu_percent" class="bar" style="width: 0;"><span id="sys_stat-cpu_percent-label">load&hellip;</span></div>
								</div>
							</dd>

							<dt>Mem:</dt>
							<dd>
								<div id="sys_stat-mem_percent-div" class="progress progress-striped progress-warning active">
									<div id="sys_stat-mem_percent" class="bar" style="width: 0;"><span id="sys_stat-mem_usage">load&hellip;</span></div>
								</div>
							</dd>

							<dt>Swap:</dt>
							<dd>
								<div id="sys_stat-swap_percent-div" class="progress progress-striped progress-danger active">
									<div id="sys_stat-swap_percent" class="bar" style="width: 0;"><span id="sys_stat-swap_usage">load&hellip;</span></div>
								</div>
							</dd>

							<dt>Disk:</dt>
							<dd>
								<div id="sys_stat-disk_percent-div" class="progress progress-striped progress active">
									<div id="sys_stat-disk_percent" class="bar" style="width: 0;"><span id="sys_stat-disk_usage">load&hellip;</span></div>
								</div>
							</dd>
						</dl>
					</span>
			</div>
			<hr>
{%- endblock -%}
