{%- block header -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
<!--
				background-image:url("http://subtlepatterns.com/patterns/chruch.png");
				background-image:url("http://subtlepatterns.com/patterns/groovepaper.png");
-->
		<title>Developement Control Server</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Developement Control Server">
		<meta name="author" content="delin@eridan.la">

		<!-- Le styles -->
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/main.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/static/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
	</head>

	<body>
		{% include "menu.html" %}
		<div class="container">
			<div class="row">
				<h3>Web Server:</h3>
				<span class="span4">
					<h3>Info:</h3>
					<dl class="dl-horizontal">
						<dt>Hostname:</dt>
						<dd>{{ sys_stats.hostname }}</dd>

						<dt>Kernel:</dt>
						<dd>{{ sys_stats.kernel_name }}</dd>

						<dt>CPU Brand:</dt>
						<dd>{{ sys_stats.cpu_brand }}</dd>
					</dl>
				</span>
				<span class="span4">
					<h3>Stats:</h3>
					<dl class="dl-horizontal">
						<dt>Server Date:</dt>
						<dd><span id="sys_stat-date">load&hellip;</span></dd>

						<dt>Load Avarage:</dt>
						<dd><span id="sys_stat-load_avarage">load&hellip;</span></dd>

						<dt>Uptime:</dt>
						<dd><span id="sys_stat-uptime">load&hellip;</span></dd>

						<dt>Tasks:</dt>
						<dd><span id="sys_stat-procs_total">load&hellip;</span></dd>
					</dl>
				</span>
				<span class="span4">
					</br>
					<dl class="dl-horizontal">
						<dt>CPU:</dt>
						<dd>
							<div id="sys_stat-cpu_percent-div" class="progress">
								<div id="sys_stat-cpu_percent" class="bar" style="width: 0;"><span id="sys_stat-cpu_percent-label">load&hellip;</span></div>
							</div>
						</dd>

						<dt>Mem:</dt>
						<dd>
							<div id="sys_stat-mem_percent-div" class="progress progress-warning">
								<div id="sys_stat-mem_percent" class="bar" style="width: 0;"><span id="sys_stat-mem_usage">load&hellip;</span></div>
							</div>
						</dd>

						<dt>Swap:</dt>
						<dd>
							<div id="sys_stat-swap_percent-div" class="progress progress-danger">
								<div id="sys_stat-swap_percent" class="bar" style="width: 0;"><span id="sys_stat-swap_usage">load&hellip;</span></div>
							</div>
						</dd>

						<dt>Disk:</dt>
						<dd>
							<div id="sys_stat-disk_percent-div" class="progress progress">
								<div id="sys_stat-disk_percent" class="bar" style="width: 0;"><span id="sys_stat-disk_usage">load&hellip;</span></div>
							</div>
						</dd>
					</dl>
				</span>
			</div>
<!--
			<div class="row">
				<div class = "span12">
					<table class = "table">
						<caption><h2>This server status:</h2></caption>
						<colgroup>
							<col style="">
							<col style="">
							<col style="width: 200px;">
							<col style="width: 200px;">
							<col style="width: 200px;">
							<col style="width: 200px;">
						</colgroup>
						<thead>
							<tr>
								<th>Hostname</th>
								<th nowrap>Uptime</th>
								<th>CPU</th>
								<th>Mem</th>
								<th>Swap</th>
								<th>Disk</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ sys_stats.hostname }}</td>
								<td><span id="sys_stat-uptime">load&hellip;</span></td>
								<td>
									<div id="sys_stat-cpu_percent-div" class="progress">
										<div id="sys_stat-cpu_percent" class="bar" style="width: 0;"><span id="sys_stat-cpu_percent-label">load&hellip;</span></div>
									</div>
								</td>
								<td>
									<div id="sys_stat-mem_percent-div" class="progress progress-warning">
										<div id="sys_stat-mem_percent" class="bar" style="width: 0;"><span id="sys_stat-mem_usage">load&hellip;</span></div>
									</div>
								</td>
								<td>
									<div id="sys_stat-swap_percent-div" class="progress progress-danger">
										<div id="sys_stat-swap_percent" class="bar" style="width: 0;"><span id="sys_stat-swap_usage">load&hellip;</span></div>
									</div>
								</td>
								<td>
									<div id="sys_stat-disk_percent-div" class="progress progress">
										<div id="sys_stat-disk_percent" class="bar" style="width: 0;"><span id="sys_stat-disk_usage">load&hellip;</span></div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
-->
{%- endblock -%}
